Repository cpacker/MemGPT: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: 'docs/.*|tests/data/.*|configs/.*'
      - id: end-of-file-fixer
        exclude: 'docs/.*|tests/data/.*|memgpt/server/static_files/.*'
      - id: trailing-whitespace
        exclude: 'docs/.*|tests/data/.*|memgpt/server/static_files/.*'

  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        types: [python]
        args: ['--remove-all-unused-imports', '--remove-unused-variables', '--in-place', '--recursive', '--ignore-init-module-imports']
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        args: ['--profile', 'black']
        exclude: ^docs/
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        args: ['--line-length', '140', '--target-version', 'py310', '--target-version', 'py311']
        exclude: ^docs/

fix: cleanup
  memgpt/schemas/block.py
  memgpt/schemas/memory.py
  tests/test_memory.py
Due: autoflake, isort, black

fix: patch test
  tests/test_memory.py
Due: autoflake, isort, black

fix: revert block values to string only (no list of strings)
  memgpt/schemas/block.py
  memgpt/schemas/memory.py
Due: autoflake, isort, black

fix: patch tests, correct typing error
  memgpt/schemas/block.py
  tests/test_memory.py
Due: autoflake, isort, black

fix: change naming of module into block to be consistent
  memgpt/schemas/memory.py
Due: autoflake, isort, black

add data connector examples
  examples/notebooks/data_connector.ipynb
Due: none

feat: add data connector example (#1713)
  examples/notebooks/data_connector.ipynb
Due: none

refactor: use `jinja2` templates for `Memory.compile` instead of writing Python code (#1687)
  memgpt/agent.py
  memgpt/main.py
  memgpt/memory.py
  memgpt/schemas/block.py
  memgpt/schemas/memory.py
  poetry.lock
  pyproject.toml
  tests/test_memory.py
  tests/test_new_client.py
Due: autoflake, isort, black

fix: missing file
  memgpt/client/streaming.py
Due: autoflake, isort, black

fix: drop extra prints, make test more robust
  memgpt/client/client.py
  memgpt/client/streaming.py
  tests/test_client.py
Due: autoflake, isort, black

fix: fix typo
  memgpt/server/rest_api/tools/index.py
Due: autoflake, isort, black

fix: remove deadcode
  memgpt/server/server.py
Due: autoflake, isort, black

add sphinx markdown
  docs/markdown/index.md
  poetry.lock
  pyproject.toml
Due: none

feat: add UpdateMessage schema + add stub server.update_agent_message
  memgpt/schemas/message.py
  memgpt/server/server.py
Due: autoflake, isort, black

feat: fleshed out stub of update_agent_message
  memgpt/schemas/message.py
  memgpt/server/server.py
Due: autoflake, isort, black

feat: add streaming support (both steps and tokens) to the Python REST client + pytest (#1701)
  memgpt/client/client.py
  memgpt/client/streaming.py
  memgpt/schemas/memgpt_message.py
  memgpt/schemas/memgpt_response.py
  tests/test_client.py
Due: autoflake, isort, black

feat: add update_message to local client (not REST client), add tests
  memgpt/client/client.py
  tests/test_client.py
Due: autoflake, isort, black

the leak is somewhere in the patching in db.py's session getter
  memgpt/agent.py
  memgpt/agent_store/db.py
  memgpt/client/client.py
  memgpt/server/rest_api/routers/v1/agents.py
  tests/unit/test_agent.py
Due: autoflake, isort, black

INTENTIONALLY BROKEN: value errors added in this commit to debug where a rogue session is coming from
  configs/server_config.yaml
  memgpt/agent_store/db.py
  memgpt/agent_store/storage.py
Due: autoflake, isort, black

update docs
  docs/markdown/index.md
  memgpt/client/client.py
  memgpt/data_sources/connectors.py
  memgpt/schemas/agent.py
  memgpt/schemas/block.py
  memgpt/schemas/embedding_config.py
  memgpt/schemas/enums.py
  memgpt/schemas/job.py
  memgpt/schemas/llm_config.py
  memgpt/schemas/memgpt_message.py
  memgpt/schemas/memgpt_response.py
  memgpt/schemas/memory.py
  memgpt/schemas/message.py
  memgpt/schemas/passage.py
  memgpt/schemas/source.py
  memgpt/schemas/tool.py
  memgpt/schemas/usage.py
  memgpt/schemas/user.py
  poetry.lock
  pyproject.toml
  tests/test_new_client.py
Due: autoflake, isort, black

feat: updated dev portal static files
  memgpt/server/static_files/assets/index-0822b53f.js
  memgpt/server/static_files/assets/index-48a5b266.css
  memgpt/server/static_files/assets/index-50379755.css
  memgpt/server/static_files/assets/index-ce9c9a91.js
  memgpt/server/static_files/index.html
Due: none

feat: updated dev portal static files
  memgpt/server/static_files/assets/index-452b42c3.css
  memgpt/server/static_files/assets/index-50379755.css
  memgpt/server/static_files/assets/index-53765e7d.js
  memgpt/server/static_files/assets/index-ce9c9a91.js
  memgpt/server/static_files/index.html
Due: none

fix: Add remove tool from Agent API (#1714)
  memgpt/server/rest_api/tools/index.py
  memgpt/server/server.py
Due: autoflake, isort, black

final client documentation
  docs/generate_docs.py
  memgpt/client/client.py
Due: autoflake, isort, black

revert poetry changes
  poetry.lock
  pyproject.toml
Due: none

add requirements
  docs/requirements.txt
Due: none

remove mkdocs
  docs/client/client.md
  docs/client/local_client.md
  docs/client/rest_client.md
  mkdocs.yml
Due: none

feat: added support for REST client w/ route
  memgpt/client/client.py
  memgpt/server/rest_api/agents/message.py
  tests/test_client.py
Due: autoflake, isort, black

fix jobstatus error
  memgpt/schemas/enums.py
Due: autoflake, isort, black

refactor SQL storage, monkeypatch db in tests correctly, start correct merge resolution
  memgpt/agent_store/db.py
  memgpt/agent_store/storage.py
  memgpt/metadata.py
  memgpt/migrations/versions/4d715e99d90f_memory_object_updates.py
  memgpt/server/server.py
  tests/conftest.py
  tests/unit/test_agent.py
  tests/unit/test_storage.py
Due: autoflake, isort, black

feat: updated dev portal static files
  memgpt/server/static_files/assets/index-32dade52.js
  memgpt/server/static_files/index.html
Due: none

run black
  docs/generate_docs.py
Due: autoflake

fix: increase RESTful-ness, make route a PATCH instead of a PUT
  memgpt/server/rest_api/agents/message.py
Due: autoflake, isort, black

feat: updated dev portal static files
  memgpt/server/static_files/assets/index-bb18278f.js
  memgpt/server/static_files/index.html
Due: none

fix isort?
  docs/generate_docs.py
Due: autoflake
